[submodule "backend"]
	path = backend
	url = /Users/paurushbatish/Desktop/react/reddit_Project/reddit
[submodule "frontend"]
	path = frontend
	url = /Users/paurushbatish/Desktop/react/reddit_Project/reddit_frontend
